<div class="button-container">
  <h1>アカウント作成</h1>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email" , value: "", placeholder: "学校用メールアドレス", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" , value: "", placeholder: "パスワード(６文字以上)", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , value: "", placeholder: "パスワード確認", class: "form-field" %>
  </div>

  <div class="actions">
    <%= f.submit "作成する" , class: "submit-button font-bold" %>
  </div>
<% end %>
</div>

<div class="devise-position">
<%= render "devise/shared/links" %>
</div>
