<div class="form-container1">

  <h1>新規ユーザー登録</h1>
    <%= form_with(model: @user, local: true) do |f| %>

        <%= f.text_field :name, class: "form-field", placeholder: "ニックネーム" %>
        <%= f.email_field :email, class: "form-field", placeholder: "学校用メールアドレス" %>
        <%= f.password_field :password, class: "form-field", placeholder: "パスワード" %>
      <%= f.submit "作成する", class: "submit-button" %>
    <% end %>
