<div class="button-container">
  <h1>ログイン</h1>

<%= form_with model: @user, url: user_session_path do |f| %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "学校用メールアドレス", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード（６文字以上）", class: "form-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <% f.check_box :remember_me %>
      <% f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "submit-button font-bold" %>
  </div>

<% end %>
</div>

<% link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>

<div class="devise-position">
<%= render "devise/shared/links" %>
</div>
