<h1>新規wiip</h1>

<%= form_with model: @post, class:"button-container" do |form| %>
<div class="form-input">
<%= form.label :title %> <%= form.text_field :title %>
</div>

<div class="form-input">
<%= form.label :詳細 %> <%= form.text_field :content %>
</div>

<div class="button-container">
<%= form.submit "wiip" , class: "link-button"%>
</div>
<% end %>